.iframediv{
    display: flex;
    flex-direction: column;
}
.Projectbtn a {
    padding: 10px;
    background-color: rgb(0, 238, 255);
}
.projectBackground{
    background-image: linear-gradient(rgb(159, 228, 227),white);padding: 20px;
}
.IframeDemo{
    /* width: 80vw; */
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 40px; */
    /* margin-left: 70px; */
    background-color: wheat;
}
.ParaProject{
    text-align: justify;
    color: rgb(122, 12, 30);
}